:root{
    --branco-pri:#ffffff;
    --cinza-sec: #c0c0c0;
    --bot-azul: #167bf7;
    --cor-fundo: #00030c; 
    --fonte-princ:'Inter' ;
    --but-azul-efeito: #4e98ec;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--cor-fundo);
    color: var(--branco-pri);
    font-family: var(--fonte-princ);
    font-size: 16px;
    font-weight: 400;
}
.prin{
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__caixa{
    margin: 0 6em;
}
.container__tit{
    font-size: 28px;
    font-weight: 700;
}
.container__but{
    background-color: var(--bot-azul);
    border-radius: 5px;
    padding: 1em;
     color: var(--branco-pri);
     display: block;
     text-decoration: none;
     margin-bottom: 1em;
}
.but_sec{
    background-color: transparent;
    border: 2px solid var(--branco-pri);
}
.container__avis{
    font-size: 12px;
    color: var(--cinza-sec);
}
.container__img{
    margin: 1em 0 2em 0;
}
.sec{
    align-items: center;
    margin: 0 10em;
}
.sec__img{
    width: 80%;
}
.descri__tit{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-pri);
    margin-bottom: 0.1em;
}
.descri__text{
   color: var(--cinza-sec); 
}
.ter{
    align-items: center;
    margin: 0em 10em;
}
.sec__but{
    display: inline-block;
    margin-top: 1em;
}
.container__descri{
    padding: 2em;
}
.disposit{
    text-align: center;
}
.disposit__tit{
    font-size: 48px;
}
.disposit__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__item{
    font-size: 32px;
    color: var(--branco-pri);
}
.rodape{
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    list-style-type: none;
}
.lista__link a{
    color: var(--branco-principal);
    margin-left: 1em;
    text-decoration: none;
}
.rodape__text {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}
.lista__link a:hover{
    color: var(--bot-azul);
}
.lista__link a:active{
    color: purple;
}
.container__but:hover{
    background-color: var(--but-azul-efeito);
    color: var(--cor-fundo);
}